    h1{
        font-family:arial;
        margin: 0.5em;
    }
    p{
        font-family: arial;
    }
    ul{
        font-family: arial;
    }
    body{
        margin:0em;
    }
    .navbar{
        list-style-type:none;
        margin: 0em;
        padding: 0em;
        overflow: hidden;
        background-color:#d0e3e5;
    }
    .navitem{
        float: left;
        
    }
    li p{
        padding: 0.05em 0.5em;
        display: block;
        text-align:center;
    }
    li p a {
        text-decoration: none;
        color:black;
    }
    li p a:hover{
       color:white;
    }
    .mainArea{
        background-color:#ffffff;
        overflow:hidden;
        margin: 0em;
    }
    div p{
        margin:1em;
    }
